{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "css",
	"singleAttributePerLine": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": true,
  "bracketSameLine": true,
  "proseWrap": "preserve"
}